@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #050505;
    --text-color: #e0e0e0;
    --accent-color: #00f3ff;
    --secondary-color: #ff0055;
    --font-main: "Inter", sans-serif;
    --font-mono: "Space Mono", monospace;
  }

  body {
    @apply bg-[#050505] text-[#e0e0e0] overflow-hidden h-screen w-screen m-0 p-0;
  }

  * {
    @apply cursor-none box-border m-0 p-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .clip-polygon {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
